<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

	<link rel="canonical" href="https://covidTracker/" />

	<title>Register</title>

	<!-- <script type="text/javascript" src="{{url_for('static', filename='js/datatables.min.js')}}"></script> -->

	<link rel="stylesheet" href="{{url_for('static', filename='css/adminkit.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/datatables.min.css')}}"/>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/8f61bbf1d6.js" crossorigin="anonymous"></script>
	
</head>

<body>
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2"><strong class="text-success">Step 1:</strong></h1>
							<p class="lead">
								Contact Information
							</p>
						</div>

						<div class="card border border-success border-3">
							<div class="card-body">
								<div class="m-sm-4">
									
									<form action="/stepOne" method="POST">
										{% from "includes/_formhelpers.html" import render_field %}
										<div class="mb-3 ">
											<label class="form-label">Full Name</label>
											
											<input class="form-control p-2" type="text" name="fname" value="{{request.form.fname}}" placeholder="" required />
											
										</div>
										<div class="mb-3">
											<label class="form-label">Email</label>
											<input class="form-control p-2" type="email" name="email" value="{{request.form.email}}" placeholder="" required />
										</div>
										<div class="">
											<label class="form-label">Address</label>
										</div>
										<div class="mb-3">
											<input class="form-control p-2" type="text" id="barangay" name="barangay" value="{{request.form.barangay}}" placeholder="House #, Street, Barangay" required />
										</div>
                                        <div class="mb-3 row">
											<div class="col">
												<input class="form-control p-2" type="text" id="city" name="city" placeholder="City" value="{{request.form.city}}" required/>
                                            </div>
											<div class="col">
												<input class="form-control p-2" type="text" id="province" name="province" placeholder="Province" value="{{request.form.province}}" required/>
                                            </div>
                                        </div>
										<div class="mb-4 row">
											<div class="col">
												<label class="form-label">Contact No.</label>
												<input class="form-control p-2" type="tel" value="{{request.form.contactNo}}" name="contactNo" placeholder="ex. 09123455678" pattern="[0-9]{11}" required/>
											</div>
											<div class="col">
												<label class="form-label">Time and Date today: </label>
												<input class="form-control p-2" type="text" name="datetime" id="datetime" disabled/>
											</div>
										</div>
										<label class="form-label">Are you currently experiencing any type of the following symptoms: Sore throat, Body pains, Headache, Fever?</label>
									
										<div class="form-check form-check-inline mb-4">
											<input class="form-check-input" type="radio" name="symptoms" value="yes" id="flexRadioDefault1">
											<label class="form-check-label" for="flexRadioDefault1">
												Yes
											</label>
										</div>
										<div class="form-check form-check-inline mb-4">
											<input class="form-check-input" type="radio" name="symptoms" value="no" id="flexRadioDefault2" checked>
											<label class="form-check-label" for="flexRadioDefault2">
												No
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" name="symptoms" value="" id="flexCheckIndeterminate" required>
											<label class="form-check-label" for="flexCheckIndeterminate">
												I hereby consent to the processing of the personal data that I have provided and declare my
											agreement with the data protection regulations in the data privacy statement.
											</label>
										</div>
										<div class="text-center mt-4">
											<a href="/" class="btn btn-lg btn-danger mx-2 px-4 py-3"><i class="align-middle" data-feather="x-circle"></i> Cancel</a>
											<!-- <button class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Sign in</button> -->
											<button type="submit" class="btn btn-lg btn-success px-4 py-3"><i class="align-middle" data-feather="check-circle"></i> Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		
	</main>
	
	<script type="text/javascript" src="{{url_for('static', filename='js/jQuery-3.6.0/jquery-3.6.0.min.js')}}"></script>
	
    <script src="{{url_for('static', filename='js/adminkit.js')}}"></script>
	<script>
		function updateClock() {
			var today = new Date();
			
			var date = (today.getMonth()+1)+'/'+today.getDate()+'/'+today.getFullYear();
			
			var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
			
			var dateTime = date+' '+time;

			document.getElementById("datetime").value = dateTime;
			setTimeout(updateClock, 1000);
		}
		updateClock();
	</script>
</body>
</html>